@model TimelyGreetings.Repository.Greeting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Greeting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateToSend)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateToSend)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDelivered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDelivered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOpened)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOpened)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OccassionType.OccassionTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OccassionType.OccassionTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GreetingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
