@model IEnumerable<TimelyGreetings.Repository.Greeting>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateToSend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDelivered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOpened)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BodyText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccassionType.OccassionTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateToSend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDelivered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOpened)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BodyText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccassionType.OccassionTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GreetingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GreetingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GreetingID })
        </td>
    </tr>
}

</table>
