@model IEnumerable<TimelyGreetingsLite.Models.Greeting>

@{
    ViewBag.Title = "GreetingsByUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GreetingsByUser</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Greeting")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OccassionTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GreetingTemplateName)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateToSend)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDelivered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOpened)
        </th>       
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OccassionTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GreetingTemplateName)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateToSend)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDelivered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOpened)
        </td>
        
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.GreetingID }) |
            @Html.ActionLink("View", "Content", new { id = item.GreetingID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.GreetingID }) ||
            <br />
            @Html.ActionLink("Add Recipient", "Create", "Recipient", new { greetId=item.GreetingID }, null) |
            @Html.ActionLink("Recipients", "RecipientsByGreeting", "Recipient", new { greetId = item.GreetingID }, null) ||
            <br />
            @Html.ActionLink("Add Attachment", "Create", "Attachment", new { greetId = item.GreetingID }, null) |
            @Html.ActionLink("Attachments", "AttachmentsByGreeting", "Attachment", new { greetId = item.GreetingID }, null)
        </td>
    </tr>
}

</table>
